* {
    @keyframes slideSwipeOut {
        from {
            -webkit-transform: perspective(300px) translateX(var(--selecting-card-position)) translateZ(50px)
                rotateY(0.95turn) scale3d(1, 1, 0.5);
            transform: perspective(300px) translateX(var(--selecting-card-position)) translateZ(50px) rotateY(0.95turn)
                scale3d(1, 1, 0.5);
        }

        to {
            display: none;
            -webkit-transform: translateX(var(--translate-x)) rotateY(0.5turn) translateZ(0px) scale3d(0.1, 0.8, 0.5);
            transform: translateX(var(--translate-x)) rotateY(0.5turn) translateZ(0px) scale3d(0.1, 0.8, 0.5);
        }
    }

    .App {
        overflow: hidden;
        position: relative;
        transform-style: preserve-3d;

        .rateCanvas {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition:
                all 0.2s ease-in-out,
                background-color 0.25s ease-out;
            z-index: 0;
        }

        .showMeAndNextCard {
            z-index: 3;
        }

        .cards {
            z-index: 2;
        }

        .showMeAndNextCard {
            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 50% 50%;
            box-sizing: border-box;
            color: #202124;
            font-weight: 700;
            position: absolute;
            touch-action: pan-y;
            &.cardSelected {
                pointer-events: none;
                .nextCard {
                    transform: translateX(var(--translate-x));
                }
                .showme {
                    transform: translateX(calc(var(--translate-x) * -1));
                }
            }
            .nextCard,
            .showme {
                width: 100%;
                height: 100%;
                display: grid;
                color: #202124;
                opacity: 0.5;
                font-size: 28px;
                line-height: 24px;
                align-items: center;
                padding-bottom: 40px;
                box-sizing: border-box;
                transition: all 1s ease-in-out;
                touch-action: pan-y;
            }
        }
        .cards {
            height: 100%;
            position: fixed;
            width: 100%;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            .card {
                display: none;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                border: 2px solid #fafafa;
                padding: 10px;
                transition: transform 1.3s linear;
                transform-style: preserve-3d;
                background: #fff;
                backface-visibility: hidden;
                box-sizing: border-box;
                z-index: -1;

                .front-face,
                .back-face {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    backface-visibility: hidden;
                    background: #fff;
                    border-radius: inherit;
                    left: 0;
                    padding: 10px;
                    box-sizing: border-box;
                }
                .back-face {
                    color: transparent;
                    transform: rotateY(0.5turn);
                }

                &.selectingCard_left,
                &.selectingCard_right {
                    display: block !important;
                    transition: transform 0s linear;
                }

                &.lastCardSwip {
                    transform: unset;
                    display: block;
                    animation-name: slideSwipeOut;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }

                &.activeCard {
                    z-index: 3;
                    display: block;
                    transform: translateZ(50px);
                    // box-shadow: 5px 2px 2px #fafafa;
                }

                &.secondCard {
                    z-index: 2;
                    display: block;
                    transform: rotate(8deg);
                }
                &.thirdCard {
                    z-index: 1;
                    display: block;
                    transform: rotate(16deg);
                }

                &.activeCardNone {
                    transform: rotate(0deg);
                }

                .closeIcon {
                    width: 20px;
                    height: 20px;
                    float: right;
                    border: 2px solid #999;
                    border-radius: 50%;
                    color: #999;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }

                &.selectedCard {
                    width: 80%;
                    height: 60%;
                    perspective: unset;
                }

                // &.deselectedCard {
                //     display: block;
                //     animation-fill-mode: forwards;
                //     animation-name: slideDeselected;
                //     animation-duration: 1s;
                //     animation-timing-function: linear;
                //     .closeIcon {
                //         display: none;
                //     }
                // }
            }
        }
    }
}
