* {
    @keyframes slideDeSelectedContent {
        0% {
            width: 70%;
            height: 80%;
            color: transparent;
            top: 0;
            // left: -150px;
            transform: translateZ(80px) rotateY(0.5turn) scale(1.25);
        }

        50% {
            color: transparent;
            // left: -150px;
            transform: translateZ(80px) rotateY(0.25turn);
        }

        75% {
            height: 400px;
            width: 300px;
            transform: translateZ(80px) rotateY(0.15turn);
        }
        100% {
            height: 400px;
            width: 300px;
            top: 0;
            transform: translateZ(0px) rotateY(0turn) scale(1.1);
            z-index: -1;
        }
    }
    @keyframes slideSelectedContent {
        0% {
            display: block;
            color: transparent;
            transform: perspective(600px) translateZ(100px) translateX(350px) rotateY(0.75turn);
        }

        99% {
            // visibility: visible;
            color: transparent;
        }

        100% {
            width: 70%;
            height: 80%;
            top: calc(100% - 80%);
            visibility: visible;
            transform: translateZ(100px) translateX(0px) rotateY(0.5turn);
        }
    }

    .flipCardContainer {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: -1;
        &.selectedCard {
            z-index: 10;
            .flipCard {
                background-color: #fff;
                .front-face {
                    opacity: 0;
                }
                animation-fill-mode: forwards;
                animation-name: slideSelectedContent;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
            }
        }

        &.deSelectedCard {
            z-index: 10;
            transform-origin: center;
            .flipCard {
                // opacity: 0;
                animation-fill-mode: forwards;
                animation-name: slideDeSelectedContent;
                animation-duration: 1s;
                animation-timing-function: linear;
            }
        }
        // &.selectingCard_left {
        //     .flipCard {
        //         z-index: 1;
        //         transform: perspective(300px) rotateY(-21deg) translateX(-350px) scale(1.25);
        //     }
        // }
        &.selectingCard_right {
            visibility: hidden;
            .flipCard {
                z-index: 1;
                transform: perspective(300px) rotateY(21deg) translateX(var(--selecting-card-position)) translateZ(50px)
                    scale(1.25);
            }
        }
        .flipCard {
            display: block;
            height: 300px;
            width: 200px;
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            // border: 2px solid #fafafa;
            transition: all 1s ease-in-out;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            background-color: #fff;
            box-sizing: border-box;
            box-shadow: #999;
            .closeIcon {
                width: 20px;
                height: 20px;
                float: right;
                border: 2px solid #999;
                border-radius: 50%;
                color: #999;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                transform: rotateY(0.5turn);
                z-index: 1;
                position: absolute;
            }
            .front-face {
                .cardPreviewContent {
                    overflow: hidden;
                    width: 100%;
                    // height: 400px;
                }
            }

            .front-face,
            .back-face {
                width: 100%;
                height: 100%;
                position: absolute;
                backface-visibility: hidden;
                background: #fff;
                border-radius: inherit;
            }
            .back-face {
                transform: rotateY(0.5turn);
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }
}
