* {
    @keyframes slideSwipeOut {
        0% {
            transform: translateZ(500px) perspective(300px) rotateY(0.95turn) translateX(var(--selecting-card-position))
                scale(1.25);
        }

        100% {
            transform: translateZ(500px) translateX(var(--translate-x)) rotateY(0.5turn) translateZ(200px);
        }
    }

    @keyframes slideDeselected {
        0% {
            display: block;
            z-index: 0;
            width: 700px;
            transform: matrix(1, 0, 0, 1, 0, 200);
        }

        20% {
            width: 620px;
            transform: matrix(1, 0.19, 0, 1, 50, 160);
        }

        40% {
            width: 540px;
            transform: matrix(1, 0.39, 0, 1, 100, 120);
        }

        60% {
            width: 300px;
            transform: matrix(1, 0.59, 0, 1, 150, 80);
        }

        80% {
            width: 300px;
            transform: matrix(1, 0.39, 0, 1, 75, 40);
        }

        100% {
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
    }
    .App {
        overflow: hidden;
        position: relative;
        transform-style: preserve-3d;

        .rateCanvas {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s ease-in-out, background-color 0.25s ease-out;
            z-index: 0;
        }

        .showMeAndNextCard {
            z-index: 3;
        }

        .cards {
            z-index: 2;
        }

        .showMeAndNextCard {
            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 50% 50%;
            box-sizing: border-box;
            color: #202124;
            font-weight: 700;
            position: absolute;
            &.cardSelected {
                pointer-events: none;
            }
            .nextCard,
            .showme {
                width: 100%;
                height: 100%;
                display: grid;
                color: #202124;
                opacity: 0.5;
                font-size: 28px;
                line-height: 24px;
                align-items: center;
                padding-bottom: 40px;
                box-sizing: border-box;
                transition: all 1s ease-in-out;
            }
            .nextCard {
                &:hover {
                    -webkit-transform: translate3d(-150px, 0px, 0px);
                    transform: translate3d(-150px, 0px, 0px);
                    color: #fff;
                    opacity: 1;
                }
            }
            .showme {
                &:hover {
                    -webkit-transform: translate3d(150px, 0px, 0px);
                    transform: translate3d(150px, 0px, 0px);
                    color: #fff;
                    opacity: 1;
                }
            }
        }
        .cards {
            height: 100%;
            position: absolute;
            width: 100%;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            .card {
                display: none;
                height: 300px;
                width: 200px;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                border: 2px solid #fafafa;
                padding: 10px;
                transition: all 1s linear;
                transform-style: preserve-3d;
                background: #fff;
                backface-visibility: hidden;

                .front-face,
                .back-face {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    backface-visibility: hidden;
                    background: #fff;
                    border-radius: inherit;
                    left: 0;
                    padding: 10px;
                    box-sizing: border-box;
                }
                .back-face {
                    color: transparent;
                    transform: rotateY(0.5turn);
                }

                &.selectingCard_left {
                    display: block !important;
                    transform: perspective(300px) rotateY(-21deg) translateX(var(--selecting-card-position))
                        translateZ(50px) scale(1.25);
                }
                &.selectingCard_right {
                    display: block !important;
                    transform: perspective(300px) rotateY(21deg) translateX(var(--selecting-card-position))
                        translateZ(50px) scale(1.25);
                }

                &.lastCardSwip {
                    display: block;
                    animation-name: slideSwipeOut;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }

                &.activeCard {
                    z-index: 3;
                    display: block;
                    box-shadow: 87px 0px 5px rgba(0, 0, 0, 0.1);
                }

                &.secondCard {
                    z-index: 2;
                    display: block;
                    transform: rotate(8deg);
                }
                &.thirdCard {
                    z-index: 1;
                    display: block;
                    transform: rotate(16deg);
                }

                &.activeCardNone {
                    transform: rotate(0deg);
                }

                .closeIcon {
                    width: 20px;
                    height: 20px;
                    float: right;
                    border: 2px solid #999;
                    border-radius: 50%;
                    color: #999;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }

                &.selectedCard {
                    width: 80%;
                    height: 60%;
                    perspective: unset;
                }

                &.deselectedCard {
                    display: block;
                    animation-fill-mode: forwards;
                    animation-name: slideDeselected;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    .closeIcon {
                        display: none;
                    }
                }
            }
        }
    }
}
