* {
    .cardPreview {
        display: grid;
        grid-template-rows: 40px auto;
        padding: 10px 0;
        width: 100%;
        box-sizing: border-box;
        .cardPreviewHeader {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 15px;
            span {
                height: 23px;
                padding: 0 10px;
                color: #fff;
                // background-color: red;
                line-height: 23px;
                border-radius: 23px;
                font-size: 14px;
            }
        }
        .cardPreviewContent {
            padding: 0 15px;
            box-sizing: border-box;
            text-align: start;
            font-size: 16px;
            color: #333;
            // -webkit-line-clamp: 5;
            // display: -webkit-box;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // -webkit-box-orient: vertical;
            // margin-bottom: 5px;
        }
        .cardPreviewImage {
            padding: 10px;
            display: grid;
            align-items: center;
            img {
                width: 100%;
                // height: 186px;
            }
        }
    }
}
