* {
    @media (min-width: 501px) and (max-width: 1100px) {
        .showMeAndNextCard {
            > .nextCard,
            .showme {
                padding-bottom: 30% !important;
                align-items: end !important;
            }
            .nextCard {
                justify-content: flex-end;
                padding-right: 10%;
            }
            .showme {
                justify-content: flex-start;
                padding-left: 10%;
            }
        }
    }
    @media (min-width: 500px) {
        .card {
            height: 400px;
            width: 300px;
        }
    }
    @media only screen and (max-width: 500px) {
        .card {
            height: 300px;
            width: 230px;
        }
        .cardPreview {
            .cardPreviewContent {
                -webkit-line-clamp: 5;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
            }
        }
        .showMeAndNextCard {
            > .nextCard,
            .showme {
                padding-bottom: 30% !important;
                align-items: end !important;
                // transform: none !important;
            }
            .nextCard {
                justify-content: flex-end;
                padding-right: 10%;
            }
            .showme {
                justify-content: flex-start;
                padding-left: 10%;
            }
        }
    }
    @media (hover: hover) {
        .showMeAndNextCard {
            &.selectingCard_left {
                .nextCard {
                    -webkit-transform: translate3d(-150px, 0px, 0px);
                    transform: translate3d(-150px, 0px, 0px);
                    color: #fff !important;
                    opacity: 1;
                }
            }
            &.selectingCard_right {
                .showme {
                    -webkit-transform: translate3d(150px, 0px, 0px);
                    transform: translate3d(150px, 0px, 0px);
                    color: #fff !important;
                    opacity: 1;
                }
            }
        }
    }
}
