*{
    @keyframes cardSlideLeft {
        0% {
            transform: rotateY(60deg);
        }

        20% {
            transform: translateX(-200px) rotateY(120deg);
        }
      
        40% {
            transform: translateX(-400px) rotateY(180deg);
            color: transparent;
        }

        60% {
            transform: translateX(-600px) rotateY(180deg);
            color: transparent;
        }

        80% {
            transform: translateX(-800px) rotateY(180deg);
            color: transparent;
        }

        100%{
            display: block;
            transform: translateX(-1000px) rotateY(180deg);
            color: transparent;
        }
    }
    
    
    @keyframes slideSelectedContent {
        0% {
            color: transparent;
            height: 300px;
            transform: perspective(1000px) transform(.5turn);
        }
      
        50% {
            color: transparent;
            transform: perspective(1000px) rotateY(.25turn);
        }

        100%{
            color: unset;
            transform: perspective(1000px) rotateY(0turn);
        }
    }

    @keyframes slideDeselected {
        0% { 
            display: block;
            z-index: 0;
            width: 700px;
            transform: matrix(1, 0, 0, 1, 0, 200)
        }

        20% {
            width: 620px;
            transform: matrix(1, .19, 0, 1, 50, 160);
        }
      
        40% {
            width: 540px;
            transform: matrix(1, .39, 0, 1, 100, 120);
        }

        60%{
            width: 300px;
            transform: matrix(1, .59, 0, 1, 150, 80);
        }

        80%{
            width: 300px;
            transform: matrix(1, .39, 0, 1, 75, 40);
        }

        100%{
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
    }
    .App{
        overflow: hidden;
        position: relative;
        .rateCanvas{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .2s ease-in-out,background-color .25s ease-out;
        }
        transform-style: preserve-3d;
        .cards{
            // background-color: #e42616;
            height: 100%;
            position: absolute;
            z-index: 1;
            width: 100%;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            // perspective: 300px;
            .showMeAndNextCard{
                width: 100%;
                height: 100%;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: 50% 50%;
                box-sizing: border-box;
                color: #202124;
                font-weight: 700;
                z-index: -1;
                position: absolute;
                &.cardSelected{
                    pointer-events: none;
                }
                >div{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    color: #202124;
                    opacity: 0.5;
                    font-size: 28px;
                    line-height: 24px;
                    align-items: center;
                    padding-bottom: 40px;
                    box-sizing: border-box;
                    transition: all .2s ease-in-out;
                }
                .nextCard{
                    &:hover{
                        -webkit-transform:translate3d(-50px, 0px, 0px);
                        transform: translate3d(-50px, 0px, 0px);
                        color: #fff;
                        opacity: 1;
                    }
                }
                .showme{
                    &:hover{
                        -webkit-transform:translate3d(50px, 0px, 0px);
                        transform: translate3d(50px, 0px, 0px);
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
            .card{
                display: none;
                height: 300px;
                width: 200px;
                background-color: white;
                border-radius: 10px;
                height: 300px;
                width: 200px;
                background-color: white;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                z-index: -3;
                border: 2px solid #fAFAFA;
                padding: 10px;
                transition: all .5s ease-in;
                transition: background-color .5s ease-out,opacity .5s linear,-webkit-transform .5s ease-in-out;
                transition: transform .5s ease-in-out,background-color .5s ease-out;
                transition: transform .5s ease-in-out,background-color .5s ease-out;
                -webkit-transition: background-color .5s ease-out,opacity .5s linear,-webkit-transform .5s ease-in-out;
                transform-style: preserve-3d;

                &.selectingCard_left{
                    // transform: rotateY(90deg);
                    transform: perspective(300px) rotate3d(0, 1, 0, -21deg) translateX(-350px) scale(1.25);
                }
                &.selectingCard_right{
                    transform: perspective(300px) rotate3d(0, 1, 0, 21deg) translateX(350px) scale(1.25);
                }

                &.lastCardSwip{
                    display: block;
                    transform: matrix(1, .9, 0, 1, -1000 , 0);
                    transition: transform 1s linear;                    
                }

                &.activeCard{
                    z-index: 1;
                    display: block;
                    box-shadow: 87px 0px 5px rgba(0,0,0,.1);
                }
                &.secondCard{
                    display: block;
                    transform: rotate(8deg);
                    z-index: -1;
                }
                &.thirdCard{
                    display: block;
                    transform: rotate(16deg);
                    z-index: -2;
                }

                .closeIcon{
                    width: 20px;
                    height: 20px;
                    float: right;
                    border: 2px solid #999;
                    border-radius: 50%;
                    color: #999;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }

                &.selectedCard{
                    display: block;
                    z-index: 0;
                    width: 80%;
                    height: 60%;
                    perspective: unset;
                    // transform: rotateY(45deg);
                    // transition: slideSelected 1s ease-in;
                    // animation-fill-mode: forwards;
                    // animation-name: slideSelected;
                    // animation-duration: 1s;
                    // animation-timing-function: linear;
                }

                &.deselectedCard{
                    display: block;
                    z-index: 0;
                    animation-fill-mode: forwards;
                    animation-name: slideDeselected;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    .closeIcon{
                        display: none;
                    }
                }
            }
        }
    }
    .slideSelectedContent{
        width: 80%;
        background: #fff;
        animation-fill-mode: forwards;
        animation-name: slideSelectedContent;
        animation-duration: 1s;
        animation-timing-function: linear;
        backface-visibility: hidden;
    }
}